body {
  display: block;
  margin: 0px;
  }

@font-face {
    font-family: "Roboto Slab Regular"; 
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: "Roboto Slab Light"; 
    src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: "Rokkitt Regular"; 
    src: url(../fonts/Rokkitt-Regular.ttf);
}

@font-face {
    font-family: "Ruda Regular"; 
    src: url(../fonts/Ruda-Regular.ttf);
}

.body { 
	width: 100vw;
  	height: 100%;
}

.welcome {
  	background: #000000 url(../images/background.jpg);
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	position: relative;
}

.container {
  	box-sizing: border-box;
  	padding-left: 50px;
  	padding-right: 50px;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 20px;

  	text-align: center;

  	width: 100%;
  	z-index: 2;
}

.holder {
  	margin-left: auto;
  	margin-right: auto;
  	display: flex;
  	justify-content: space-between;
  	margin-bottom: 125px;
}

.menu {
  	text-transform: uppercase;
}

.menu-list {
  	font-size: 24px;
  	line-height: 36px;
  	letter-spacing: 1px;
  	list-style: none;
  	font-family: "Ruda Regular";
  	font-weight: 400;
  	display: flex;
  	flex-wrap: wrap;
  	margin-top: 5px;
}

.menu-list_item {
  	margin-right: 35px;
}

.menu-list_item:last-child {
  	margin-right: 0px;
}

.menu-link {
  	text-decoration: none;
  	color: #ffffff;
}

.button_reserve {
	width: 25%;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Ruda Regular";
    background: transparent;
    border-color: #ffffff;
    border-width: 2px;
}

.welcome-title {
	text-transform: uppercase;
    font-size: 400px;
    line-height: 75px;
    color: #ffffff;
    font-family: "Rokkitt Regular";
    font-weight: 400;
    margin: 0 auto;
    padding-top: 125px;
    text-align: center;
    height: 415px;
}

.button_down {
	width: 50px;
	z-index: 7;
  	top: 725px;
  	left: 50%;
  	transform: translateX(-50%);
  	position: absolute;
}

.post_header {
	padding-right: 50px;
	padding-left: 50px;
}

.post_header_text {
	font-size: 28px;
    line-height: 44px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "Roboto Slab Light";
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    text-align: center;
    width: 80%;
    margin-bottom: 85px;
}

.post_header_img {
	width: 100%;
  	display: block;
  	height: 100%;
  	margin: 0;
  	position: relative;
  	object-fit: cover;
  	margin-bottom: 152px;
}

.post_main {
	box-sizing: border-box;
	position: relative;
}

.post_main_section {
	background: #000000 url(../images/menu_.jpg);
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	position: relative;
  	padding-right: 50px;
	padding-left: 50px;
	display: flex;
	flex-wrap: wrap;
  	height: 575px;
  	margin-bottom: 20px;
}

.post_main_section::after {
	content: "";
  	background-color: #000000;
  
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	opacity: 0.5;
}

.post_main_section_text {
	font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Roboto Slab Regular";
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 15;
}

.button {
	z-index: 10;
	text-decoration: none;

    width: 400px;
    height: 400px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Roboto Slab Regular";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 250px;
    text-align: center;

    left: 10%;
    top: 15%;
    position: relative;
}

.shape_top {
	margin-left: auto;
    margin-right: auto;
	z-index: 8;
	width: 60px;
	height: 5px;
	background-color: #ffffff;
	margin-top: 145px;
}

.shape_bottom{
	margin-left: auto;
    margin-right: auto;
	z-index: 8;
	width: 60px;
	height: 5px;
	background-color: #ffffff;
} 

.button_name {
	margin-bottom: 25px;
    margin-top: 25px;
}

.post_main_section:nth-child(2) {
	background: #000000 url(../images/bar_menu_.jpg);
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
}

.post_main_section:nth-child(2)>.post_main_section_text {
	margin-left: 38%;
}

.post_main_section:nth-child(2)>.button {
	left: 35%;
}

.post_main_section:nth-child(3) {
	background: #000000 url(../images/hookah_menu.jpg);
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	margin-bottom: 0;
}

.post_aside {
	padding-top: 152px;
	text-align: center;
	padding-bottom: 128px;
}

.post_aside_tittle {
	font-size: 32px;
    line-height: 40px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto Slab Regular";
    width: 50%;
    font-weight: 200;
    margin: 0 auto 82px;
}

.post_aside_img {
	margin: 0 10%;
	width: 80%;
	margin-bottom: 45px;
}

.post_aside_text {
	font-size: 24px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 1px;
    font-family: "Ruda Regular";
    width: 60%;
    font-weight: 200;
    margin: 0 auto;
}

.box {
  	background: #000000 url(../images/hookah_for_footer.jpg);
    background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	position: relative;

	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
	padding-bottom: 145px;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-between;
}

.box::after {
	content: "";
  	background-color: #000000;
  
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	opacity: 0.5;
}

.box>.button {
	left: 0;
}

.box>.button:nth-child(2) {
	left: 0;
}

.footer {
	background-color: #000000;
	height: 165px;
	padding-left: 50px;
	padding-right: 50px;
}

.footer>.holder {
	margin: 0;
	padding-top: 5%;
}

.footer>.holder>.menu>.menu-list {
	margin-top: 2%;
	padding: 0;
}

.social_logo {
	border-radius: 50px;
	background-color: #ffffff;
	height: 60px;
}

.social_logo_icon {
	width: 40px;
	height: 40px;
	padding: 10px;
}

@media (min-width: 961px) and (max-width: 1200px) {
	.welcome-title {
    	font-size: 300px;
    }

	.menu-list {
    	font-size: 22px;
	}

	.button_reserve {
    	height: 50px;
    	font-size: 22px;
    }

    .button_down {
        width: 40px;
    }

	.post_header_text {
		font-size: 24px;
		line-height: 40px;
	}

	.post_main_section {
		height: 500px;
	}

	.post_main_section_text {
    	font-size: 22px;
    }

    .button {
    	width: 300px;
    	height: 300px;
    	font-size: 22px;
    	top: 20%;
    }

    .shape_top {
    	width: 40px;
    	height: 4px;
    	margin-top: 110px;
    }

    .shape_bottom {
    	width: 40px;
    	height: 4px;
    }

    .post_aside_tittle {
    	font-size: 30px;
    	width: 70%;
    }

    .post_aside_text {
    	font-size: 22px;
    }

    .footer {
    	height: 140px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
	.welcome-title {
    	font-size: 200px;
    	line-height: 5px;
    }

	.menu-list {
    	font-size: 18px;
    	padding: 0;
	}

	.button_reserve {
		width: 35%;
    	height: 50px;
    	font-size: 16px;
    }

	.post_header_text {
		font-size: 22px;
    	line-height: 32px;
    	padding-top: 80px;
    	margin-bottom: 25px;
    	width: 100%;
	}

	.post_header_img {
		margin-bottom: 80px;
	}

	.post_main_section {
		background: none;
		padding-right: 25px;
    	padding-left: 25px;
    	height: 300px;
    	margin-bottom: 0;
	}

	.post_main_section::after {
		background-color: #ffffff;
	}

	.post_main_section_text {
    	font-size: 18px;
    	line-height: 20px;
    	color: #000000;
    	width: 35%;
    	padding-left: 10%;
    }

    .button {
    	background: #000000 url(../images/menu_mob.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;

    	width: 200px;
    	height: 200px;
        font-size: 18px;
    	top: 15%;
    	left: 5%;
    }

    .button::after {
    	content: "";
  		background-color: #000000;
  
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border-radius: 250px;
  		opacity: 0.5;
  		
    }

    .shape_top {
    	width: 30px;
    	height: 3px;
    	margin-top: 40%;
    	z-index: 20;
    	position: relative;
    }

    .button_name {
    	font-size: 16px;
    	margin-bottom: 0;
    	margin-top: 0;
    	z-index: 20;
    	position: relative;
    }

    .shape_bottom {
    	width: 30px;
    	height: 3px;
    	z-index: 20;
    	position: relative;
    }

    .post_main_section:nth-child(2) {
    	background: none;
    }

    .post_main_section:nth-child(2)>.post_main_section_text {
    	padding: 0;
    	margin-left: 20%;
    }

    .post_main_section:nth-child(2)>.button {
    	background: #000000 url(../images/menu_bar_mob.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;

    	top: 15%;
    	left: 15%;
    }

    .post_main_section:nth-child(3) {
    	background: none;
    }

    .post_main_section:nth-child(3)>.button {
    	background: #000000 url(../images/menu_hookah_mobile.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;
    }

    .post_aside {
    	padding-top: 80px;
    	padding-bottom: 80px;
    }

    .post_aside_tittle {
    	font-size: 24px;
    	margin: 0 auto 25px;
    	width: 80%;
    }

    .post_aside_img {
    	margin-bottom: 0;
    }

    .post_aside_text {
    	font-size: 18px;
    	line-height: 24px;
    }

    .box>.button {
    	background: rgba(255, 255, 255, 0.3);
    }

    .box>.button::after {
    	background-color: rgba(255, 255, 255, 0);
    }

    .footer {
    	height: 120px;
    }

    .social_logo {
    	height: 40px;
    }

    .social_logo_icon {
    	width: 30px;
    	height: 30px;
    	padding: 5px;
    }
}

@media (max-width: 640px) {
	.welcome-title {
    	font-size: 110px;
    	line-height: 5px;
    }

	.menu-list {
    	font-size: 14px;
    	padding: 0;
	}

	.menu-list_item {
		margin-right: 10px;
	}

	.button_reserve {
		width: 50%;
    	height: 45px;
    	font-size: 14px;
    }

    .button_down {
    	width: 35px;
    }

	.post_header_text {
		font-size: 14px;
    	line-height: 22px;
    	padding-top: 80px;
    	margin-bottom: 35px;
    	width: 100%;
	}

	.post_header_img {
		margin-bottom: 80px;
	}

	.post_main_section {
		background: none;
		padding-right: 25px;
    	padding-left: 25px;
    	height: 200px;
    	margin-bottom: 0;
	}

	.post_main_section::after {
		background-color: #ffffff;
	}

	.post_main_section_text {
    	font-size: 14px;
    	line-height: 18px;
    	color: #000000;
    	font-family: "Roboto Slab Light";
    	width: 35%;
    	padding-left: 10%;
    }

    .button {
    	background: #000000 url(../images/menu_mob.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;

    	width: 150px;
    	height: 150px;
        font-size: 12px;
    	top: 15%;
    	left: 5%;
    }

    .button::after {
    	content: "";
  		background-color: #000000;
  
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		border-radius: 250px;
  		opacity: 0.5;
  		
    }

    .shape_top {
    	width: 15px;
    	height: 2px;
    	margin-top: 35%;
    	z-index: 20;
    	position: relative;
    }

    .button_name {
    	font-size: 12px;
    	margin-bottom: 0;
    	margin-top: 0;
    	z-index: 20;
    	position: relative;
    }

    .shape_bottom {
    	width: 15px;
    	height: 2px;
    	z-index: 20;
    	position: relative;
    }

    .post_main_section:nth-child(2) {
    	background: none;
    }

    .post_main_section:nth-child(2)>.post_main_section_text {
    	padding: 0;
    	margin-left: 10%;
    }

    .post_main_section:nth-child(2)>.button {
    	background: #000000 url(../images/menu_bar_mob.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;

    	top: 15%;
    	left: 5%;
    }

    .post_main_section:nth-child(3) {
    	background: none;
    }

    .post_main_section:nth-child(3)>.button {
    	background: #000000 url(../images/menu_hookah_mobile.jpg);
    	background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  		position: relative;
    }

    .post_aside {
    	padding-top: 80px;
    	padding-bottom: 80px;
    }

    .post_aside_tittle {
    	font-size: 14px;
    	margin: 0 auto 25px;
    	width: 80%;
    }

    .post_aside_img {
    	margin-bottom: 0;
    }

    .post_aside_text {
    	font-size: 12px;
    	line-height: 18px;
    	width: 80%;
    }

    .box {
    	padding-top: 65px;
    	flex-direction: column;
    	padding-left: 35%;
    }

    .box>.button:nth-child(1) {
    	margin-bottom: 65px;
    }

    .box>.button {
    	background: rgba(255, 255, 255, 0.3);
    }

    .box>.button::after {
    	background-color: rgba(255, 255, 255, 0);
    }

    .footer {
    	height: 100px;
    }

    .footer>.holder {
    	padding-top: 10%;
    }

    .social_logo {
    	height: 40px;
    }

    .social_logo_icon {
    	width: 30px;
    	height: 30px;
    	padding: 5px;
    }
}